/* -------  General Styles ------- */

html,body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: row;
}

.item {
  flex: 1;
  margin: 10px;
  padding: 60px 0;
}

.item-double {
  flex: 2;
}

#about img {
  padding: 0px 0;
  margin: 10px;
  width: 350px;
}

#about p {
  padding: 20px 0;
}


#ideas img {
  width: 500px;
}

#ideas .group2 {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
  flex-direction: row;
  
}

#ideas .group3 {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
  flex-direction: row;
}

#host .group4 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#host img {
  width: 650px;
}


/* -------  Navigation ------- */

header {
  display: flex;
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
  justify-content: space-between;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul {
  display: flex;
  
}

header nav ul li {
  display: flex;
  list-style-type: none;
}

header nav ul li a {
  display: flex;
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  display: flex;
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  display: flex;
  border: 2px solid #ff385c;
  padding: 10px;
  justify-content: space-between;
}


form label {
  display: flex;
  font-weight: bold;
}

form select, 
form input {
  display: flex;
  margin-bottom: 20px;
  width: 180px;
}

form button {
  display: flex;
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 300px) {
  html,body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
  }
  
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  form {
    display: flex;
    flex-direction: column;
    
  }
  
  .group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main img {
    width: 100%;
  }
  #about img {
    width: 100%;
    align-items: center;
  }
 
  #stay .label1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    padding: 10px;
}
#stay .label2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
#stay .label3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
#stay .label4 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
#stay .submitbutton {
  display: flex;
}
#stay .insidebutton {
  padding-left: 0px;
  width: 100%;
}
  #host img {
    width: 100%;
    align-items: center;
  }
  #host .group4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    flex-wrap: wrap;
  }
  #ideas .group2 {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  #ideas .group3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }
  #ideas img {
    width: 100%;
  }
  }
  
  @media all and (min-width: 480px) {
    #stay .submitbutton {
      display: flex;
    }
    #stay .insidebutton {
      padding-left: 0px;
      width: 100%;
    }
   
    html,body {
      width: 100%;
      height: 100%;
      padding: 0px;
      margin: 0px;
      overflow-x: hidden;
    }
    
    header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    form {
      display: flex;
      flex-direction: column;
      text-align: center;
    
    }
    .group {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    main img {
      width: 100%;
    }
    #about img {
      width: 100%;
      align-items: center;
    }
    #host img {
      width: 100%;
      align-items: center;
    }
    #host .group4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 10px;
      flex-wrap: wrap;
    }
    #ideas .group2 {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    #ideas .group3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 10px;
    }
    #ideas img {
      width: 100%;
    }
    #stay .label1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
        width: 100%;
    }
    #stay .label2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
    #stay .label3 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
    #stay .label4 {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  
            @media all and (min-width: 1024px) {
              .group {
                display: flex;
                flex-direction: row;
              }
              #stay .label1 {
                display: flex;
                flex-direction: column;
                padding: 0px;
              }
              #stay .label2 {
                display: flex;
                flex-direction: column;
                padding: 0px;
              }
              #stay .label3 {
                display: flex;
                flex-direction: column;
                padding: 0px;
              }
              #stay .label4 {
                display: flex;
                flex-direction: column;
                padding: 0px;
              }
              .item {
                flex: 1;
                margin: 10px;
                padding: 60px 0;
              }
              
              .item-double {
                flex: 2;
              }
              
              #about img {
                padding: 0px 0;
                margin: 10px;
                width: 350px;
              }
              
              #about p {
                padding: 20px 0;
              }
              
              
              #ideas img {
                width: 500px;
              }
              
              #ideas .group2 {
                display: flex;
                justify-content: space-evenly;
                padding: 20px 0;
                flex-direction: row;
                
              }
              
              #ideas .group3 {
                display: flex;
                justify-content: space-evenly;
                padding: 20px 0;
                flex-direction: row;
              }
              
              #host .group4 {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                flex-direction: row;
              }
              
              #host img {
                width: 650px;
            }
            form {
              display: flex;
              border: 2px solid #ff385c;
              padding: 10px;
              justify-content: space-between;
              flex-direction: row;
            }
            
            
            form label {
              display: flex;
              font-weight: bold;
              flex: row;
            }
            
            form select, 
            form input {
              display: flex;
              margin-bottom: 20px;
              width: 180px;
              flex-direction: row;
            }
            
            form button {
              display: flex;
              background-color: #ff385c;
              border: none;
              color: #fff;
              font-size: 24px;
              padding: 15px;
              width: 100%;
              flex-direction: row;
            }
            header {
              display: flex;
              background-color: #ff385c;
              padding: 20px 20px 0 20px;
              text-align: center;
              justify-content: space-between;
              flex-direction: row;
            }
          
            
          }
